
.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .inputEmail {
    margin-bottom: 1.125rem;
  }

  .inputPassword {
    margin-bottom: 0.375rem;
  }

  .forgotPasswordLink {
    cursor: pointer;

    display: inline-block;
    align-self: end;

    margin-bottom: 60px;
    padding: 6px 12px;

    border-radius: 20px;

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      outline: 1px solid var(--color-info-700);
    }
  }
}

.text {
  color: var(--color-light-900)
}

.link {
  margin-top: 7px;
  text-decoration: underline;
}
