.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .inputEmail {
    margin-bottom: 0.8125rem;
  }

  .desc {
    margin-bottom: 4.0625rem;
    color: var(--color-light-900);
    opacity: 0.5;
  }
}

.link {
  margin-top: 11px;
  text-decoration: underline;
}

.text {
  color: var(--color-light-900)
}