.form {
  display: flex;
  flex-direction: column;

  .inputPassword {
    margin-bottom: 0.8125rem;
  }

  .desc {
    margin-bottom: 2.5625rem;
    color: var(--color-light-900);
    opacity: 0.5;
  }
}
