.form {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
  margin-bottom: 20px;


  .inputConfirmPassword {
    margin-bottom: 2.25rem;
  }
}

.link {
  margin-top: 7px;
  text-decoration: underline;
}

.text {
  color: var(--color-light-900)
}