.DropdownMenuContent {
  will-change: transform, opacity;

  background-color: var(--color-dark-700);
  border: 0.0625rem solid var(--color-dark-500);
  border-radius: 0.25rem;

  animation-duration: 200ms;
  animation-timing-function: ease-in-out;

  &::before,
  &::after {
    content: '';

    position: absolute;
    z-index: -1;
    top: -1rem;
    right: 0.75rem;

    border: 0.5rem solid transparent;
    border-bottom: 0.5rem solid var(--color-dark-500);
  }

  &::after {
    z-index: -1;
    top: -0.9375rem;
    border-bottom: 0.5rem solid var(--color-dark-700);
  }

  &[data-side='top'] {
    animation-name: slide-down;
  }

  .DropdownMenuItem {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: start;

    margin: -0.0625rem 0;
    padding: 0.75rem;

    color: #000;

    outline: none;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 0.375rem;
    }

    .itemText {
      color: var(--color-light-100);
    }

    &:hover,
    &:focus {
      background-color: var(--color-dark-500);
    }
  }

  .sep {
    position: absolute;
    z-index: 1000;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 80%;
    height: 0.0625rem;

    background-color: var(--color-dark-500);
  }
}


@keyframes slide-down {
  from {
    transform: translateY(-0.9375rem);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
